
.friendsItem {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  font-weight: 500;
  width: 360px;
  box-shadow: -1px 3px 4px 0px black;
  }
  
  .friendsItem:not(:last-child) {
    margin-bottom: 15px;
  }
  
  .status {
    margin-left: 27px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .friends{
    display: flex;
  }